.logo{
    width: 100px;
    height: 100px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
} 
    
 body {
    
     font-family: sans-serif;
     background: url(../assets/imagen/fondo\ blanco.jpeg);
     background-size: cover;
     background-attachment: fixed;
     }
 header{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
     background-color: rgb(190, 102, 29);
  }    
nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
 
    }

ul{
    
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: black;
    text-align: center;
    align-items: center;
    
     justify-content:space-between;
    }
li{
        width: 100px ;
        
    text-align: center;
 }
a{
    text-decoration: none;
        display: block;
        color: white;        }
 @media screen and (max-width:320px){ 
    header{
        flex-direction:column ;

    }

 } 

.indexmain{
    display: contents;
    padding: 5px;
    margin: 1000px;
}
 @media screen and (max-width:320px){ 
    .indexmain{
        flex-direction:column ;

    }

 } 
.video{
    display: flex;
    justify-content: center;
    align-items: center;
}
  @media screen and (max-width: 320px){ 
    .container{
        flex-direction: column;
    }
  } 
   
    
 
    
 @media screen and (max-width:320px){  
    .arquitectas{
        flex-direction: column;
    } 
    
 } 

.arquitectas{
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contenedor{
    display: flex;
    width: 100%;
    
    
}


.vertical{
   display: flex;
   padding-right: 30px;
   margin-left: 50px;
   margin-top: 50px;
   height: 250px;
   
}

    
.horizontal{
    display: flex;
   padding-right: 30px;
   margin-left: 50px;
   margin-top: 50px;
   height: 250px;

}   
   

image{
    display: inline;
}
    
 @media(max-width:700px) { 
    .video {flex-direction: column;}
 } 
 .videoindex{
    width: 500px;
    height: 350px;
    display: flexbox;
    justify-content: center;
    play
    
 }

 .videocenter{
    display: flex;
        justify-content: center;
    }
 .imgporfolio{
    left: 50%;
    right: 150px;
    display: flex;
    justify-content: center;
    
 }
 @media screen and (max-width:320px){ 
    .imgporfolio{
        flex-direction:column ;

    }

 } 
 .casablanca{
    width: 320px;
    height: 320px;
   padding: 40px;
    
 }
 .casanegra{
    width: 320px;
    height: 320px;
    padding: 40px;
 }
 @media screen and (max-width:320px){
 .mision{
    width: 75vw;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

 }
 }
 .balcon{
    width: 320px;
    height: 320px;
    justify-content: space-around;
    display: flex;
 }

 
 
 footer{
    background-color: rgb(190, 102, 29);    ;
    display: block;
    text-align: center;
    align-items: center;
    flex-direction: row;
 }
