.mision {    
        
    width: 75vw;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
    
    
    
    .posicion{  
        
         display: flex;
        justify-content: center;
        align-items: center;
       

    .balcon{
        
        margin: 50px;
        width: 320px;
        height: 320px;
        justify-content: space-around;
        display: flex;
        .texto{
            
            display: flex;
            flex-direction: column;
             
         }
     }

 }
 
    
    
             
        
    }
    
 
 