.arquitectas{
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
        
        .vertical{
            @mixin mobile{
                flex-direction: column;
                
                
            }      
            
            display: flex;
            padding-right: 30px;
            margin-left: 50px;
            margin-top: 50px;
            height: 250px;
        }
        .arquigiu{
            @mixin mobile{
                flex: content;
                flex-direction: column;
                 
                 
             }      
         
            
                
                
            }      
            
            
        
            
         
         .horizontal{
            display: flex;
           padding-right: 30px;
           margin-left: 50px;
           margin-top: 50px;
           height: 250px;
        
        }   
           
        
    
    
