.logo{
    width: 100px;
    height: 100px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
} 
    
 body {
    
     font-family: sans-serif;
     background: url(../assets/imagen/fondo\ blanco.jpeg);
     background-size: cover;
     background-attachment: fixed;
     }